dist
**/bundle
**/dist
**/localDist

node_modules
.DS_Store
.vscode/
.idea/
*.log
storybook-dist
package-lock.json
yarn.lock
.cache/

.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.nuxt
.output